@import url('https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab');


html,
body {
	font-size: 10px !important;
}
h1 {
	font-size: 1.602em;
}
h2 {
	font-size: 1.424em;
}
h3 {
	font-size: 1.266em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 0.889em;
}
h6,p {
	font-size: 0.79em;
}
.display-1 {
	font-size: 3.906em;
}
.display-2 {
	font-size: 3.125em;
}
.display-3 {
	font-size: 2.5em;
}
.display-4 {
	font-size: 2em;
}

@media (min-width: 400px) {
	h1 {
	  font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}
	h4 {
		font-size: 1.25em;
	}
	.display-1 {
		font-size: 6em;
	}
	.display-2 {
		font-size: 5.5em;
	}
	.display-3 {
		font-size: 4.5em;
	}
	.display-4 {
		font-size: 3.5em;
	}


}


@media (min-width: 840px) {
	html,
	body {
		font-size: 10px !important;
	}

}


@media (min-width: 1120px) {
	html,
	body {
		font-size: 11px !important;
	}
}





* {
    font-family: 'Roboto Slab', serif;

}

body {
  background-color: #777777;
  overflow-x: hidden;
}


.blurred-box{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.7);
  border-radius: 15px;
  overflow: hidden;

}

.blurred-box:after{
	content: '';
	width: 100%;
	height: 100%;
	background: none;
	position: absolute;
	pointer-events: none;
	left: -25px;
	right: 0;
	top: -25px;
	bottom: 0;
	box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
	filter: blur(10px);
	z-index: 1;
}

.cont-fix-width {
max-width: 1300px;
}

.myself {
  overflow:hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
	url("images/background-forest.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
	background-size: 270vw;
	background-repeat: no-repeat;
	background-attachment: fixed;
  }


.gallery a img{
	transition: all 0.3s;
}

	.gallery a:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	transition-duration: 0.3s;
	z-index: 5;
	}

	.fa-stack{
	transition: all 0.2s;
	}

	.fa-stack:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition-duration: 0.2s;	
	}
	.nav-link, .btn-primary {
		transition: all 0.3s;
	}
	.nav-link:hover, .btn-primary:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	transition-duration: 0.3s;
	}

	.works{
	width: 300px; 
	height: 250px; 
	overflow: hidden;
	}
	.mobile-header{
	width: 150px;	
	}


@media only screen and (max-width: 976px) {
.mobile-view{
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
}
.mobile{
	width: 50% !important;
	justify-content: center;
	
}

.mobile-header{
	width: 100px;	
}
.mobile-works{
	width: 400px; 
	height: 350px; 
	overflow: hidden;
	padding-top: 1.2em;
	}
}
